---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My Story"
	description="My Story"
	pubDate={new Date('Feb 21 2023')}
	updatedDate={new Date('Feb 21 2023')}
	heroImage="/profile-pic.jpg"
>
	<p>
		My name is Mohit Arora and I come from a very small <a href="https://goo.gl/maps/BZ8BYeXzyFooLE8L8">village</a> in Haryana state of India.
		Growing up in a closed knit community where everyone was doing some kind of mechanical work 
		or a job, becoming a software developer was never a dream. Mostly I dreamt of becoming a 
		mechanical engineer and work with cars but that was not to be. Fascination with computers started
		when I got my first computer in 10th standard and started by playing games on it. First game I played 
		on it was <b>Roadrash</b> and I still remember the fight me and my brother used to have while playing it. 
	</p>

	<p>
		Life for me had other plans. I studied for the toughest engineering entrance exam in India and scored 
		very badly in it but I still manage to get into one of the good engineering college. As my 
		overall rank was not good, I got into Chemical Engineering which at the time was an awesome course to be in. 
		After completing third year of bachelor's degress, I went to do an internship in one of the remote villages in 
		India in a fertilizer manufacturing plant and that experience made me realise that I am not meant to be a Chemical Engineer.
		As soon as I returned from that internship, I started with taking courses that will help me move in 
		a direction that is different from chemical engineer and one of those courses was Java programming language.
		That was the starting point in my journey to becoming a software engineer and eventually working in one of the largest Banks 
		in the world. 
	</p>
	
	<p>
		When I took the Java course, it turned out that I was pretty good at it and was able to grasp the concepts well. Luckily
		after my graduation, I got into one of the good IT companies in India at the time. When I joined Polaris, I was both elated and scared
		about how I am going to manage there as a Chemical Engineer. But I was able to survive there for more than 1 and half years. During my 
		time there I realised that to succeed in my carrier as a Software Developer, I will have to do something more and that is when 
		my good friend, Manoj suggested applying for Master's in Computer Science in USA. I was very reluctant at the starting because of the 
		financial contrainsts on my family side and also that my background was not in Computers but as it turns out where there is a will
		there is a way and got into one of the very good universities in USA called <a href="https://www.buffalo.edu/">SUNY Buffalo</a>.
	</p>
</Layout>
